AlignEscapedNewlines: DontAlign
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
IndentWidth: 4
PenaltyBreakAssignment: 100
